body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #2f4550;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #000000;
    background-color: #586f7c;
   
    border-radius: 5px;

    /* 
    Challenge:
    Add colors to the card according to the design.
    black - #2b2839 (the text color)
    blue - #ddebf8
    purple - #d8cefe
    */
    
}

.border-blue {
    border: 1px dotted blue;
}
    